LOGIN_URL=https://www.altmetric.com/explorer/login
JSON_URL=https://www.altmetric.com/explorer/json_data/mentions
MENTIONS_URL=https://www.altmetric.com/explorer/mentions
ALTMETRIC_DETAILS_URL=https://www.altmetric.com/explorer/mentions?show_details
LOGIN=[your altmetric login email]
PASSWORD=[your password]
